<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.pubnub.co" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>pubNubios</name>
	<dependency id="cordova-plugin-cocoapod-support"/>
	<js-module name="pubNubios" src="www/pubNubios.js">
		<clobbers target="cordova.plugins.pubNubios" />
	</js-module>
	<platform name="ios">
		<pod name="PubNub" spec="~> 4" />
		<config-file parent="/*" target="config.xml">
			<feature name="pubNubios">
				<param name="ios-package" value="pubNubios" />
			</feature>
		</config-file>
		<source-file src="src/ios/pubNubios.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNEventsListener.h" target-dir="PubNub/ios" />
<source-file src="src/ios/NSDateFormatter+PNCacheable.h" target-dir="PubNub/ios" />
<source-file src="src/ios/NSURLSessionConfiguration+PNConfiguration.h" target-dir="PubNub/ios" />
<source-file src="src/ios/NSURLSessionConfiguration+PNConfigurationPrivate.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAES+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAES.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPICallBuilder+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSAuditAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSEnabledChannelsResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSModificationAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationConfiguration+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationConfiguration.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationPayload+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationPayload.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationTarget+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationTarget.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAcknowledgmentStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddMessageActionAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddMessageActionParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddMessageActionRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddMessageActionStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddPushNotificationsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNArray.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAuditPushNotificationsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseMessageActionRequest+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseMessageActionRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseNotificationPayload+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseNotificationPayload.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseObjectsMembershipRequest+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseObjectsMembershipRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseObjectsRequest+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseObjectsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBasePublishRequest+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBasePublishRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBasePushNotificationsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannel.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelClientStateResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupAuditionParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupChannelsResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupClientStateResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupModificationParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupsResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMember+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMember.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMembersParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMetadata+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMetadata.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMetadataChangeParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientInformation.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientState.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientStateGetResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientStateParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientStateUpdateStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNConfiguration.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNConstants.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNData.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDataStorage.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDate.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDefines.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDeleteFileAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDeleteFileParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDeleteFileRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDeleteMessageAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDictionary.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDownloadFileAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDownloadFileRequest+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDownloadFileRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDownloadFileResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNEncryptedInputStream.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNEnvelopeInformation.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNErrorCodes.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNErrorParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNErrorStatus+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNErrorStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFCMNotificationPayload.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchAllChannelsMetadataAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchAllChannelsMetadataRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchAllUUIDMetadataAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchAllUUIDMetadataRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMembersAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMembersRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMembersResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMetadataAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMetadataRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelsMetadataParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelsMetadataResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMembershipsAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMembershipsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMembershipsResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMessageActionsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMessageActionsResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMessagesActionsAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMessagesActionsParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchUUIDMetadataAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchUUIDMetadataParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchUUIDMetadataRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchUUIDMetadataResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFile+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFile.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFileDownloadURLAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFilesAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFilesManager.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNGZIP.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNGenerateFileUploadURLParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNGenerateFileUploadURLRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNGenerateFileUploadURLStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHeartbeat.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHeartbeatParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHelpers.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHistoryAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHistoryParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHistoryResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNInMemoryStorage.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNJSON.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNKeyValueStorage.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNKeychain+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNKeychain.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNKeychainStorage.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLLogFileInformation.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLLogger.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLeaveParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNListFilesAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNListFilesParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNListFilesRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNListFilesResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLockSupport.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLogMacro.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMPNSNotificationPayload.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageChannelMembersAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageChannelMembersRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageChannelMembersStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageMembershipsAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageMembershipsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageMembershipsStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMembership+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMembership.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMembershipsParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageAction+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageAction.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageCountAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageCountParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageCountResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageDeleteParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessagePublishParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMultipartInputStream.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNNetwork.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNNetworkResponseSerializer.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNNotificationsPayload.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNNumber.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNObjectsAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNObjectsPaginatedRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNObjectsRemoveParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceChannelGroupHereNowAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceChannelGroupHereNowResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceChannelHereNowAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceChannelHereNowResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceGlobalHereNowResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceHeartbeatAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceHereNowAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceHereNowParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceWhereNowAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceWhereNowParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceWhereNowResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPrivateStructures.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishFileMessageAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishFileMessageRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishSequence.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishSizeAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPushNotificationsAuditParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPushNotificationsStateModificationParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNReachability.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveAllPushNotificationsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveChannelMembersAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveChannelMembersRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveChannelMetadataAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveChannelMetadataRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMembershipsAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMembershipsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMessageActionAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMessageActionParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMessageActionRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemovePushNotificationsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveUUIDMetadataAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveUUIDMetadataRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRequest+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRequestParameters.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNResult+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSendFileAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSendFileRequest+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSendFileRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSendFileStatus+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSendFileStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNServiceData+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNServiceData.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMembersAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMembersRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMetadataAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMetadataRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMetadataStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetMembershipsAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetMembershipsRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetUUIDMetadataAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetUUIDMetadataRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetUUIDMetadataStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSignalAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSignalStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStateAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStateAuditAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStateListener.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStateModificationAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStatus+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStreamAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStreamAuditAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStreamModificationAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNString.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStructures.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeAPIBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeChannelsOrGroupsAPIBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeStatus+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeStatus.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscriber.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscriberResults.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNTelemetry.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNTimeAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNTimeParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNTimeResult.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNURLBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNURLRequest.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUUIDMetadata+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUUIDMetadata.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUUIDMetadataChangeParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUnsubscribeAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUnsubscribeChannelsOrGroupsAPICallBuilder.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNXML+Private.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNXML.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PNXMLParser.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+APNS.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+ChannelGroup.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Core.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+CorePrivate.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Files.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+History.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+MessageActions.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Objects.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Presence.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+PresencePrivate.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Publish.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+State.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Subscribe.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+SubscribePrivate.h" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Time.h" target-dir="PubNub/ios" />
<source-file src="src/ios/NSDateFormatter+PNCacheable.m" target-dir="PubNub/ios" />
<source-file src="src/ios/NSURLSessionConfiguration+PNConfiguration.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAES.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSAuditAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSEnabledChannelsResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSModificationAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationConfiguration.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationPayload.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAPNSNotificationTarget.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAcknowledgmentStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddMessageActionAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddMessageActionParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddMessageActionRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddMessageActionStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAddPushNotificationsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNArray.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNAuditPushNotificationsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseMessageActionRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseNotificationPayload.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseObjectsMembershipRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBaseObjectsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBasePublishRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNBasePushNotificationsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannel.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelClientStateResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupAuditionParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupChannelsResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupClientStateResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupModificationParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelGroupsResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMember.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMembersParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMetadata.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNChannelMetadataChangeParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientInformation.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientState.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientStateGetResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientStateParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNClientStateUpdateStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNConfiguration.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNData.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDataStorage.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDate.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDeleteFileAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDeleteFileParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDeleteFileRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDeleteMessageAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDictionary.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDownloadFileAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDownloadFileRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNDownloadFileResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNEncryptedInputStream.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNEnvelopeInformation.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNErrorParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNErrorStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFCMNotificationPayload.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchAllChannelsMetadataAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchAllChannelsMetadataRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchAllUUIDMetadataAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchAllUUIDMetadataRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMembersAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMembersRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMembersResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMetadataAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelMetadataRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelsMetadataParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchChannelsMetadataResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMembershipsAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMembershipsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMembershipsResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMessageActionsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMessageActionsResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMessagesActionsAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchMessagesActionsParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchUUIDMetadataAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchUUIDMetadataParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchUUIDMetadataRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFetchUUIDMetadataResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFile.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFileDownloadURLAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFilesAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNFilesManager.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNGZIP.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNGenerateFileUploadURLParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNGenerateFileUploadURLRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNGenerateFileUploadURLStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHeartbeat.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHeartbeatParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHistoryAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHistoryParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNHistoryResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNInMemoryStorage.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNJSON.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNKeychain.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNKeychainStorage.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLLogFileInformation.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLLogger.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLeaveParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNListFilesAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNListFilesParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNListFilesRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNListFilesResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNLockSupport.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMPNSNotificationPayload.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageChannelMembersAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageChannelMembersRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageChannelMembersStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageMembershipsAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageMembershipsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNManageMembershipsStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMembership.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMembershipsParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageAction.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageCountAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageCountParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageCountResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessageDeleteParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMessagePublishParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNMultipartInputStream.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNNetwork.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNNetworkResponseSerializer.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNNotificationsPayload.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNNumber.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNObjectsAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNObjectsPaginatedRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNObjectsRemoveParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceChannelGroupHereNowAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceChannelGroupHereNowResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceChannelHereNowAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceChannelHereNowResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceGlobalHereNowResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceHeartbeatAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceHereNowAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceHereNowParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceWhereNowAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceWhereNowParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPresenceWhereNowResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishFileMessageAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishFileMessageRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishSequence.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishSizeAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPublishStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPushNotificationsAuditParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNPushNotificationsStateModificationParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNReachability.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveAllPushNotificationsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveChannelMembersAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveChannelMembersRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveChannelMetadataAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveChannelMetadataRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMembershipsAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMembershipsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMessageActionAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMessageActionParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveMessageActionRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemovePushNotificationsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveUUIDMetadataAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRemoveUUIDMetadataRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNRequestParameters.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSendFileAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSendFileRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSendFileStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNServiceData.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMembersAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMembersRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMetadataAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMetadataRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetChannelMetadataStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetMembershipsAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetMembershipsRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetUUIDMetadataAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetUUIDMetadataRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSetUUIDMetadataStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSignalAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSignalStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStateAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStateAuditAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStateListener.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStateModificationAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStreamAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStreamAuditAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNStreamModificationAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNString.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeAPIBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeChannelsOrGroupsAPIBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscribeStatus.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscriber.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNSubscriberResults.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNTelemetry.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNTimeAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNTimeParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNTimeResult.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNURLBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNURLRequest.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUUIDMetadata.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUUIDMetadataChangeParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUnsubscribeAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNUnsubscribeChannelsOrGroupsAPICallBuilder.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNXML.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PNXMLParser.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+APNS.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+ChannelGroup.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Core.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Files.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+History.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+MessageActions.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Objects.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Presence.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Publish.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+State.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Subscribe.m" target-dir="PubNub/ios" />
<source-file src="src/ios/PubNub+Time.m" target-dir="PubNub/ios" />
	</platform>
</plugin>

